.input-upload {
    width: 100%;
    &::placeholder {
        color: #2E2E2E;
    }
}

.form-control {
    background-color: #E0E0E0 !important;
    border-radius: 0 !important;
    border: 0;
}

.custom-file-label {
    &::after {
        display: none;
    }
}

#btnSubmit {
    background-color: #009688;
    color: #FFFFFF;
    border: 0;
}

.custom-file-label {
    background: rgba(0, 150, 135, 0.1);
    color: #607D8B;
    border: 0;
}