body{
    height: 100vh;
    background-image: url(/media/abstract_dust.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    header{
        .logo{
            width: 100px;
            height: 100px;
        }
    }
    .central-card {
        width: 150vh;
        height: 65vh;  
        border-radius: 20px;
        .info{
            background-color: $mainGreen;
            border-top-left-radius : 20px;
            border-bottom-left-radius: 20px;
            color: white;
            .logo{
                width: 350px;
            }
        }
        .formulaire{
            background-color: white;
            border-top-right-radius : 20px;
            border-bottom-right-radius: 20px;
            color: $deepGrey;
        }
    }
    
    footer{
        height: 100px;
        .toogle-footer{
            background-color: $deepGrey;
            color: $lightGrey;
            border-radius: 10px;
        }
    }
    
}