// CHARGEMENT DE BOOTSTRAP
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";


//variables globales
$mainGreen : #009688;
$deepGrey : #2E2E2E;
$lightGrey : #D1D1D1;

body{
    height: 100vh;
    header{
        background-color: $mainGreen;
        color: white;
        text-transform: uppercase;
        height: 10vh;
        font-size: 2rem;        
    }
    main{
        .left-bar{
            height: 90vh;
            background-color: $deepGrey;
            color: $lightGrey;
        }
    }
}