@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// CHARGEMENT DE BOOTSTRAP
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/custom-forms";

//variables globales
$mainGreen : #009688;
$deepGrey : #2E2E2E;
$lightGrey : #D1D1D1;
 
//Partiales personalisés pour les pages de notre site
@import "404";

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: url(../media/abstract_dust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    @media (max-width: 767px) { 
        background-attachment: fixed;
        height: 100%;
    }
    header {
        .logo {
            width: 100px;
            height: 100px;
        }
    }
    .central-card {
        height: 70vh;  
        border-radius: 20px;
        @media (max-width: 767px) { 
            height: auto;
        }
        .info {
            background-color: $mainGreen;
            border-top-left-radius : 20px;
            border-bottom-left-radius: 20px;
            color: white;
            @media (max-width: 767px) { 
                border-top-right-radius : 20px;
                border-bottom-right-radius: 20px;
                margin-bottom: 35px;
                height: 80vh;
            }
            .logo {
                width: 350px;
                @media (max-width: 576px) { 
                    width: 230px; 
                }
            }
            hr {
                width: 85%;
                border-top: 1px solid #FFFFFF;
                padding-bottom: 35px;
            }
            h1 {
                @media (max-width: 576px) { 
                    font-size: 2rem;
                }
            }
            
        }
        .formulaire {
            background-color: white;
            border-top-right-radius : 20px;
            border-bottom-right-radius: 20px;
            color: $deepGrey;
            @media (max-width: 767px) { 
                border-top-left-radius : 20px;
                border-bottom-left-radius: 20px;
                height: 80vh;
            }
        }
        @import 'download';
        @import 'info';
        @import 'home';

    }
    
    footer {
        height: 100px;
        .toogle-footer {
            background-color: $deepGrey;
            color: $lightGrey;
            border-radius: 10px;
            @media (max-width: 767px) { 
                display: none;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    .footer-cache {
        background: $deepGrey;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        color: #A2A2A2;
        display: none;
        font-size: 0.9em;
        @media (max-width: 767px) { 
            position: relative;
            display: block;
        }
        h2 {
            color:#607D8B;
            font-size: 1.5rem;
        }
        img {
            width: 180px;
            height: 75px;
        }
        .button-close {
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .fa-times-circle {
            font-size: 2rem;
            color: #009688;
            &:hover {
                cursor: pointer;
            }
            @media (max-width: 767px) { 
                display: none;
            }
        }
    }
    
}


.bluetext {
    color: #009688;
    
}



.editform {
    border: none;
    background-color: #E0E0E0;
}

.editdownloadbutton {
    border: none;
    color: azure;
    background-color: #009688;

}

.edit_pic {

    height: 30px;
    width: 30px;

}
