<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <base href="http://localhost:8080/">

    <link rel="stylesheet" href="css/main.css" />

    <title>EZ-Transfer</title>
</head>

<body class="body404 container-fluid">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="row404 row">
            <div class="col-12">
                <p class="error">4<img class="sad" src="media/sad_face.svg" alt="sad face" width="300px" height="300px">4</p>          
            </div>
        </div>
        <div class="row404 row">
            <div class="col-12">
                <p>Vous vous êtes perdu ?</p>
                <p>Retournez à l'Accueil !</p>
            </div>
        </div>
        <div class="row404 row">
            <div class="col-12">
                <a href="home"><button class="404-button">Accueil</button></a>
            </div>
        </div>
    </div>
</body>

</html>