<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost:8080/">
    <link rel="stylesheet" href="css/dashboard.css" />

    <title>EZ-Transfer</title>
h

</head>

<body class="container-fluid d-flex flex-column justify-content-between">
    <header class="row d-flex ">
        <a href="home"><img src="media/ez_logo.svg" alt="logo EZ" width="50px" height="50px"></a>
        <h1>dashboard</h1>
    </header>
    <main class="row">
        <div class="col-3 d-flex flex-column">

        </div>
        <div class="col-9">

        </div>
    </main>
    <script src="js/dash.js"></script>
</body>

</html>