{# indique la dépendance au template #}
{% extends "template_front.twig" %}

{# block info sur la section upload #}
{% block info %}
    <h2>Bienvenue sur</h2>
    <p><img class="logo" src="media/ez_transfer.svg" alt="logo complet du site EZ transfer"></p>
    <hr>
    <p>Récupérez facilement les fichiers que l'on vous a envoyé.</p>

{% endblock %}

{# affichage du formulaire et de l'upload #}
{% block formulaire %}

<div class=" container-fluid d-flex justify-content-center"><div class="mr-4"><img class="edit_pic" src="media/cloud_dl.svg"></div><div><h2 class="bluetext pic_cloud">Télécharger des fichiers</h2></div></div>

    <p class="bluetext">Récapitulatif</p>

    <p>{{info}}</p>
    <p>{{erreur}}</p>

    


    <a href="/home/downloadfile/{{idFile}}" class="editdownloadbutton" type="submit" name="submit" id="btnSubmit">Télécharger</a>

{% endblock %}