{# indique la dépendance au template #}
{% extends "template_front.twig" %}

{# block info sur la section upload #}
{% block info %}
    <h2>Bienvenue sur</h2>
    <p><img class="logo" src="media/ez_transfer.svg" alt="logo complet du site EZ transfer"></p>
    <hr>
    <p>Récupérez facilement les fichiers que l'on vous a envoyé.</p>

{% endblock %}

{# affichage du formulaire et de l'upload #}
{% block formulaire %}

<img src="media/cloud_download.svg"><h2 class="bluetext">Télécharger des fichiers</h2>

    <p class="bluetext">Récupitulatif</p>


    <a href="/home/downloadfile/{{idFile}}" class="editdownloadbutton" type="submit" name="submit" id="btnSubmit">Télécharger</a>

{% endblock %}