{# indique la dépendance au template #}
{% extends "template_front.twig" %}

{# block info sur la section upload #}
{% block info %}
    <h1>Bienvenue sur</h1>
    <p><img class="logo" src="media/ez_transfer.svg" alt="logo complet du site EZ transfer"></p>
    <hr>
    <p>
        Transférez facilement vos photos et vos fichiers volumineux à vos amis, vos collègues ou votre famille.
        <br>
        Profitez d'un service  rapide et sécurisé.
    </p>
{% endblock %}

{# affichage du formulaire et de l'upload #}
{% block formulaire %}

    <form method="post" action="home/upload" enctype="multipart/form-data" class="w-100">
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="icone" id="icone" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01"><i class="fas fa-cloud-upload-alt"></i> Ajouter des fichiers</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="2000000000" />
        </div>
        <input type="text" class="form-control input-upload mt-4" name="nom" id="nom" placeholder="Nom et prénom" />
        <input type="email" class="form-control input-upload mt-4" name="emailExpediteur" id="emailExpediteur" placeholder="Votre adresse email">
        <input type="email" class="form-control input-upload mt-4" name="emailDestinataire" id="emailDestinataire" placeholder="Email du destinaire">
        <textarea class="form-control input-upload mt-4" name="message" placeholder="Message" id="message"></textarea>
        <button type="submit" name="submit" id="btnSubmit" class="d-block mx-auto text-center mt-4 p-1 pl-3 pr-3">Transférer</button>
    </form>
{% endblock %}
