{# indique la dépendance au template #}
{% extends "template_front.twig" %}

{# block info sur la section upload #}
{% block info %}
    <h2>Bienvenue sur</h2>
    <p><img class="logo" src="media/ez_transfer.svg" alt="logo complet du site EZ transfer"></p>
    <hr>
    <p>
        Transférez facilement vos photos et vos fichiers volumineux à vos amis, vos collègues ou votre famille.
        <br>
        Profitez d'un service  rapide et sécurisé.
    </p>
{% endblock %}

{# affichage du formulaire et de l'upload #}
{% block formulaire %}

    <form method="post" action="/home/upload" enctype="multipart/form-data">
        <label for="icone">Icône du fichier (JPG, PNG ou GIF | max. 15 Ko) :</label><br />
        <input type="file" class="form-control-file" name="icone" id="icone" /><br />
        <input type="hidden" name="MAX_FILE_SIZE" value="1048576" /><br />
        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom et prénom" /><br />
        <input type="email" class="form-control" name="emailExpediteur" id="emailExpediteur" placeholder="Votre adresse email"><br />
        <input type="email" class="form-control" name="emailDestinataire" id="emailDestinataire" placeholder="Email du destinaire"><br />
        <textarea class="form-control" name="message" placeholder="Message" id="message"></textarea><br />
        <button type="submit" name="submit" id="btnSubmit">Transférer</button>
    </form>
{% endblock %}
